/* GLOBAL CSS RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/* FONTS */
@font-face {
	font-family: 'Kingthings Typewriter';
	src: local('Kingthings Typewriter'), url(../public/Kingthings-Typewriter.ttf) format('truetype');
}
@font-face {
	font-family: 'Bohemian Typewriter';
	src: local('Bohemian Typewriter'), url(../public/Bohemian-Typewriter.ttf) format('truetype');
}

/* GLOBAL STYLES */
body {
	font-family: 'Bohemian Typewriter', 'Courier New';
	font-size: 18px;
	background-color: #fef0d7;
}

h1 {
	font-weight: bold;
	font-size: 32px;
	padding-bottom: 0.5em;
}

button {
	background-image: url(../public/brown-paper.png);
	background-color: transparent;
	background-size: 100% 100%;
	color: black;
	font-family: 'Bohemian Typewriter', 'Courier New';
	font-size: 18px;
	margin: 1em;
	padding: 0.5em;
	border: none;
}

a {
	color:#3a88a2;
	&:hover { color: black; }
}

p {
	padding-bottom: 0.5em;
}